/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLES GENERAUX */
body * {
	box-sizing: border-box;
}

body {
	font-family: 'Slabo 27px', serif;
	font-size: 1rem;
}

h1, h2, figcaption, blockquote, nav {
	font-family: 'PT Sans Narrow', sans-serif;
}

.wrapper, blockquote {
	width: 960px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 1.5rem;
	color: white;
	font-weight: bold;
}

h2 {
	font-size: 1.125rem;
	color: #3e3e3e;
	text-transform: uppercase;
	font-weight: bold;
}

nav ul li a {
	font-size: 1.25rem;
}

nav ul li a:hover {
	background-color: #ff4f13;
	border-radius: 5px;
	transition-duration: 1000ms;
}

p {
	font-size: 1rem;
}

blockquote p{
	font-size: 3rem;
	color: #ff4f13;
	text-align: center;	
}

figcaption p {
	font-size: 0.6875rem;
	color: #3e3e3e;
	text-transform: uppercase;
	font-weight: bold;
}

figcaption time {
	font-size: 0.6875rem;
	color: #3e3e3e;
	font-style: italic;
}

.auteur {
	font-size: 2rem;
}

.gris {
	background-color: #e6e6e6;
}

input[type=email], input[type=submit] {
	border:1px solid #CCC;
	border-radius: 5px;
}

/* HEADER */
header {
  background: url('img/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  padding-right: 10px;
}

/* MAIN */
h1 span {
	color: #ff4f13;
}

.quote-close {
	float: right;
}

.wrapper article {
	margin: 50px 0;
}

/* FOOTER */
footer {
	background-color: #393939;
	color: white;
}